doctype html
html(ng-app="fatt")
  head
    title FreeAgent Time Tracker
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet")
  body
    block content
