extends layout

block content
  div(ng-controller='MainCtrl')
    h1
      button(ng-click="prevMonth()").btn &lt;&lt;
      | {{monthName}}
      button(ng-click="nextMonth()").btn &gt;&gt;
    h2 Logged in as : {{me.first_name}} {{me.last_name}}
          p ({{me.email}})
          a(href="/yourfreeagent/{{company.subdomain}}") https://{{company.subdomain}}.freeagent.com


    p: a(href='/fatt/faauth') Login
    p: a(href='/fatt/googleauth') Google
    table.table.table-bordered(style="width: 100%")
      thead
        tr
          th Mon
          th Tue
          th Wed
          th Thu
          th Fri
          th Sat
          th Sun
      tbody
        tr(ng-repeat="week in weeks")
          td(ng-repeat="day in week" valign="top" class="{{day.status}} {{day.thisMonth}}")
            table.dayBox(style="width: 100%")
              tr
                td {{day.day}}
                td(align="right")
                  .btn-group.btn-group-xs(dropdown='dropdown')
                    button.btn.dropdown-toggle(type='button')
                      | Add
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li(ng-repeat="record in commonRecords | orderBy:'useCount':true")
                        a(ng-click="day.add(this.record)") {{record.hours}}h:{{record.taskName}}

              tr
                td Total:
                td {{day.total}}h
              tr(ng-repeat="record in day.records")
                td: div(title="{{record.contactName}}: {{record.projectName}}")
                  button.danger.btn.btn-xs.btn-link(type="button" ng-click="record.delete()")
                    span.glyphicon.glyphicon-remove-sign
                  | {{record.taskName}}:
                td {{record.hours}}h


    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js")
    script window.angular || document.write('<script src="/javascripts/angular.js">\x3C/script>')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.js")
    script window.moment || document.write('<script src="/javascripts/moment.js">\x3C/script>')


    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap.js")

    script(src="/fatt/app/fatt-app.js")
    script(src="/fatt/services/fa-api.js")
    script(src="/fatt/services/month.js")
    script(src="/fatt/app/main-controller.js")



